@font-face {
    font-family:'Banny Round';
    src: url('../fonts/Banny-Round.eot');
	src: url('../fonts/Banny-Round.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Banny-Round.woff2') format('woff2'),
		url('../fonts/Banny-Round.woff') format('woff'),
		url('../fonts/Banny-Round.svg#Banny-Round') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Banny Round';
    src: url('../fonts/Banny-BoldRound.eot');
	src: url('../fonts/Banny-BoldRound.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Banny-BoldRound.woff2') format('woff2'),
		url('../fonts/Banny-BoldRound.woff') format('woff'),
		url('../fonts/Banny-BoldRound.svg#Banny-BoldRound') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/Open Sans Regular.eot');
	src: url('../fonts/Open Sans Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open Sans Regular.woff2') format('woff2'),
		url('../fonts/Open Sans Regular.woff') format('woff'),
		url('../fonts/Open Sans Regular.svg#Open Sans Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/Open Sans Bold.eot');
	src: url('../fonts/Open Sans Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open Sans Bold.woff2') format('woff2'),
		url('../fonts/Open Sans Bold.woff') format('woff'),
		url('../fonts/Open Sans Bold.svg#Open Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}