.specialization {
    background-image: url(../img/specialization/specialization-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.specialization__wrapper {
    padding-bottom: 45px;
}

.specialization__slider {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.specialization__slider-line {
    width: 100%;
    display: flex;
    position: relative;
    transition: 0.5s;
}

.specialization__slider-item {
    min-width: 1300px;
    width: 100%;
}

.specialization__slider-img {
    padding-left: 130px;

    &::before {
        left: 5px;
    }
}

.specialization__slider-content {
    max-width: 600px;
    text-align: center;
}

.specialization__slider-title {
    color: $primary-color;
}

.specialization__slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specialization__buttons {
    padding: 45px 0;
}

.specialization__button {

    svg {
        width: 30px;
        height: 30px;

        path {
            fill: $primary-color;
        }
    }

    &:hover {

        path {
            fill: $tertiary-color;
        }
    }

    &:first-child {
        margin-right: 40px;
    }
}

@media (max-width: 1440px) {

    .specialization__slider {
        max-width: 1000px;
    }

    .specialization__slider-item {
        min-width: 1000px;
    }

    .specialization__slider-img {
        margin-right: 50px;
    }

    .specialization__slider-content {
        max-width: 400px;
    }
}

@media (max-width: 1100px) {

    .specialization__slider {
        max-width: 600px;
    }

    .specialization__slider-item {
        min-width: 600px;
        flex-direction: column;
        justify-content: center;
    }

    .specialization__slider-img {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .specialization__slider-content {
        max-width: 600px;
    }
}

@media (max-width: 768px) {

    .specialization__slider {
        max-width: 250px;
    }

    .specialization__slider-item {
        min-width: 250px;
    }

    .specialization__slider-img {
        padding-left: 50px;

        &::before {
            max-width: 100px;
            height: 100px;
        }
    }
}