.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    max-width: 600px;
    text-align: center;
    margin-right: 50px;
}

.about__img {
    padding-right: 130px;

    &::before {
        right: 5px;
    }
}

.about__subtitle {
    color: $secondary-color;
}

.about__text {
    color: $secondary-color;
}

@media (max-width: 1170px) {

    .about__content {
        max-width: 400px;
    }

    .about__img {

        &::before {
            max-width: 200px;
            height: 200px;
        }
    }
}

@media (max-width: 1024px) {

    .about__content  {
        max-width: 350px;
    }

    .about__subtitle  {
        font-size: 16px;
    }

    .about__img {
        padding-right: 100px;

        &::before {
            max-width: 150px;
            height: 150px;
        }
    }
}

@media (max-width: 768px) {
    
    .about__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .about__content {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {

    .about__img {
        padding-right: 50px;

        &::before {
            max-width: 100px;
            height: 100px;
        }
    }
}