.events__wrapper {
    background-image: url(../img/events/events-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 15px;
}

.events__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.events__img {
    position: relative;

    &:first-child {
        margin-left: 130px;
        margin-right: 50px;

        &::before {
            left: -125px;
        }
    }

    &:last-child {
        margin-right: 130px;

        &::before {
            right: -125px;
        }
    }
}

.events__img-left,
.events__img-right {
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 5px 5px 0 0;
    background: $secondary-color;
}

.events__img-right {
    padding: 0;
    left: 100%;
    transform-origin: left top;
    transform: rotate(90deg);
}

.events__img-left {
    right: 100%;
    transform-origin: right top;
    transform: rotate(-90deg);
}

.events__img-title {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 24px;
    color: $primary-color;
    text-transform: uppercase;
    padding: 20px 30px;
}

.events__text {
    padding: 45px 0;
    color: rgb($primary-color, 0.5);
    text-align: center;
    font-size: 12px;
    line-height: 1.6em;

    span {
        font-weight: 700;
    }
}

.events__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        max-width: 360px;
        max-height: 360px;
    }
}

@media (max-width: 1024px) {

    .events__img {

        &::before {
            max-width: 150px;
            height: 150px;
        }

        &:first-child {
            margin-left: 100px;

            &::before {
                left: -95px;
            }
        }

        &:last-child {
            margin-right: 100px;

            &::before {
                right: -95px;
            }
        }
    }

    .events__img-title {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    
    .events__container {
        flex-direction: column;
        justify-content: center;
    }

    .events__img {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {

    .events__img {

        &::before {
            max-width: 100px;
            height: 100px;
        }

        &:first-child {
            margin-left: 50px;

            &::before {
                left: -45px;
            }
        }

        &:last-child {
            margin-right: 50px;

            &::before {
                right: -45px;
            }
        }
    }
}